@model IEnumerable<LobbyLink.DataAccess.Model.ItemInstance>

@{
    ViewData["Title"] = "Inventory";
}

<div class="container text-center mt-5">
    <h1 class="mb-4">WELCOME TO LOBBYLINK</h1>

    <div class="d-flex justify-content-center gap-3">
        <a asp-controller="Marketplace"
           asp-action="Listings"
           class="btn btn-primary btn-lg">
            Marketplace
        </a>

        <a asp-controller="Inventory"
           asp-action="Account"
           class="btn btn-primary btn-lg">
            Inventory
        </a>
    </div>
</div>