@model IEnumerable<LobbyLink.DataAccess.Model.ItemInstance>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ItemInstance ID</th>
            <th>ItemDefinition ID</th>
            <th>Account ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemInstanceId</td>
                <td>@item.ItemDefinitionId_FK</td>
                <td>@item.AccountId_FK</td>
            </tr>
        }
    </tbody>
</table>